/* Main color: #f7bea2, (247, 190, 162) Darker: CF8968. Darker: A65B37.
muted main color: #ffe4d1, (255, 228, 209)
secondary color (teal): #a1f9ff
tertiary color (purple): #d3a1ff

*/

/* * { outline: 2px red solid; } */

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 190, 162);
    color: rgb(29, 24, 24);
}

header {
    background: rgba(255, 228, 209, 1);
    box-shadow: 5.1px 4.2px 10.2px rgba(65, 29, 12, 0.349);
    /* background: linear-gradient(0deg, rgb(247, 190, 162) 1%, rgb(255, 228, 209) 30%); */
    color: rgb(29, 24, 24);
    padding: 1rem 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0rem 2rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: inherit;
}


.container {
    width: 100%;
    max-width: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.hero {
    display: flex;
    background: rgba(255, 228, 209, 1);
    /* background: linear-gradient(0deg, rgb(247, 190, 162) 1%, rgb(255, 228, 209) 30%); */
    border-radius: 50px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 10, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 5.1px 10.2px 10.2px rgba(65, 29, 12, 0.349);
    text-align: center;
    padding: 50px;
    max-width: 100%;
    width: 700px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.intro > ul {
    text-align: left;
}

.intro > h3 {
    line-height: 1.6;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 2rem;
}

img {
    /* border: #ffba9a 2px solid;   */
    box-shadow: 2.5px 5.0px 5.0px hsl(0deg 0% 0% / 0.42);
    border-radius: 50%;
    width: 400px;
    height: auto;
    max-width: 250px
}

h1, h2, h3, h4, p {
    color: rgb(29, 24, 24);
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color: inherit;
}

header, footer {
    width: 100%;
}

header .container,
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

@media (max-width: 700px) {
    header .container,
    footer .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero {
        width: 60vw;  
        flex-direction: column;
        align-items: flex-start;
    }

    .footer {
        margin-top: auto;
    }

    nav ul {
        margin-top: 1rem;
    }

    img {
        max-width: 150px;
    }
  }