body, html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    background-color: rgb(255, 224, 204);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.hero {
    background-color: rgb(255, 247, 247);
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 10, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 80%;
    width: 500px;
}

img {
    border-radius: 50%;
    max-width: 300px;
    height: auto;
}

h1 h3 h4 p {
    color:rgb(29, 24, 24)
}

@media (max-width: 600px) {
    .hero {
        width: 60vw;  
    }

    img {
        max-width: 150px;
    }
  }

  @media (prefers-color-scheme: dark) {
    body {
      color: rgb(255, 247, 247);
      background: #000000;
    }

    .hero {
        background: linear-gradient(0deg, #00000038 20%, #ffffff44 150%);
        background-color: rgb(14, 19, 14)
    }

    img {
        opacity: 0.5;
    }
  }