* {
    outline: 2px solid red;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 224, 204);
    color: rgb(29, 24, 24);
    line-height: 1.6;
}

header {
    margin: 0 auto;
    background-color: rgb(255, 247, 247);
    background: linear-gradient(0deg, #ffe0cc 10%, #ffffff91 30%);
    color: rgb(29, 24, 24);
    padding: 1rem 2rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0rem 2rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: inherit;
}

/* nav a:hover {
    text-decoration: underline;
}*/

li {
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.hero {
    display: flex;
    background-color: rgb(255, 247, 247);
    background: linear-gradient(0deg, #ffe0cc 10%, #ffffff91 50%);
    border-radius: 50px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 10, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    max-width: 80%;
    width: 700px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 50px 0 0;
}

.intro > h1 {
    /*display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px; */
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
}

img {
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 0, 0) 50%, rgba(255, 224, 204, 1) 100%);
    border-radius: 50%;
    max-width: 300px;
    height: auto;
}

/*.otter {
    background: radial-gradient(#ffe0cc, #ffffff);
} */

h1 h2 h3 h4 p {
    color: rgb(29, 24, 24);
}



a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color: inherit;
}

header, footer {
    width: 100%;
}

header .container,
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;bottom:0;left:0;
}

@media (max-width: 600px) {
    header .container,
    footer .container {
        flex-direction: column;
        align-items: flex-start;
    }
    .hero {
        width: 60vw;  
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        margin-top: 1rem;
    }

    img {
        max-width: 150px;
    }
  }


/* @media (prefers-color-scheme: dark) {
    body {
      color: rgb(255, 247, 247);
      background: #000000;
    }

    .hero {
        background: linear-gradient(0deg, #00000038 20%, #ffffff44 150%);
        background-color: rgb(14, 19, 14)
    }

    h1 h3 h4 p {
        color: rgb(255, 247, 247);
    }

    img {
        opacity: 0.5;
    }
  }

@media (prefers-color-scheme: light) {
    body {
      background: rgb(255, 224, 204);
      color: rgb(29, 24, 24);
    }

    .hero {
        background-color: rgb(255, 247, 247);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 10, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    h1 h3 h4 p {
        color: rgb(29, 24, 24);
    }
  }